
h1{
    text-align: center;
    color: rgb(211, 224, 26);
}
form{
    text-align: center;
}
input[type='text']{
    font-size: 2em;
    border-radius: 10px;
    width: 40%;
}
input[type='submit']{
    font-size: 2em;
    border-radius: 10px;
    background-color: pink;
}
body{
    background-image: url(../image/wallpaper.jpg);
}
ul{
    padding: 10px;
}
li{
    color: white;
    text-align: center;
    background-color: black;
    width: 70%;
    list-style: none;
    margin: 0 auto;
    padding: 20px;
}