
h1{
    text-align: center;
    color: white;
}
form{
    text-align: center;
}
input[type='text']{
    font-size: 2em;
    border-radius: 10px;
    width: 40%;
}
input[type='submit']{
    font-size: 2em;
    border-radius: 10px;
    background-color: rgb(141, 245, 167);
    border: none;
}
body{
    background-image: url(../image/wallpaper.jpg);
}
ul{
    padding: 10px;
}
li{
    color: white;
    text-align: center;
    background-color: black;
    width: 70%;
    list-style: none;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    overflow-x:auto;
}
span{
    float: right;
}
li:hover{
    transform: scale(1,002);
    background-color: rgb(206, 198, 198);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
button:hover{
    transform: scale(1.05);
    background-color: rgb(148, 226, 200);
}
button{
    font-size: 2em;
    background-color: rgb(119, 65, 119);
    border-radius: 10px;
    border: none;
}